html
  head
    //- Include Bootstrap
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')

  body
    footer.page-footer.font-small.blue.fixed-bottom
      .footer-copyright.text-center.py-3 © 2018 Copyright: Lazar Vasic