extends layout
block content

    .row
      .col-sm-6
        .paper-card.card.paper-card.paper-card-box
          .row
            .col-sm-12
              .title Broadcast
          .row.messageRow
            .col-sm-12
              textarea.message
          .row.lastRow
            .col-sm-12.col-md-3
              label.switch
                input(type="checkbox")
                span.slider.round
            .col-sm-12.col-md-6
              .input-group.date#datetimepicker
                input#date.form-control(type="text")
                span.input-group-addon
                  span.glyphicon.glyphicon-calendar
            .col-sm-12.col-md-3
              button.btn.btn-dark.broadcast Broadcast
      .col-sm-6
