html
  head
    //- Include Bootstrap
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')

    //- Include Font Awersome
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.3.1/css/all.css' integrity='sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU' crossorigin='anonymus')

    link(rel='stylesheet' href='/css/navbar.css')

  body
    nav.navbar.navbar-inverse
      .container-fluid
        .navbar-header
          a.navbar-brand(href='#') ETF Bot
        ul.nav.navbar-nav
          li.nav-item
            a.nav-link(href='/broadcast')
              i.fas.fa-broadcast-tower Broadcast
          li.nav-item
            a.nav-link(href='/professors')
              i.fas.fa-chalkboard-teacher Professors
          li.nav-item
            a.nav-link(href='/students')
              i.fas.fa-user-graduate Students
          button.logout.nav-item.btn.btn-danger.navbar-btn(onclick="location.href = '/';") Log out

