extends layout

block content
  //- .table-bordered.table-responsive
  table#studentTable.table.table-striped.table-dark.table-hover.table-sm.table-borderless
    thead
      tr
        th(scope='col') #
        th(scope='col') First name
        th(scope='col') Last name
        th(scope='col') Index
    tbody
      tr
        th(scope='row') 1
        th(scope='row') Lazar
        th(scope='row') Vasic
        th(scope='row') 2017/3011
      tr
        th(scope='row') 2
        th(scope='row') Pera
        th(scope='row') Peric
        th(scope='row') 3102/1342
      tr
        th(scope='row') 1
        th(scope='row') Lazar
        th(scope='row') Vasic
        th(scope='row') 2017/3011
      tr
        th(scope='row') 2
        th(scope='row') Pera
        th(scope='row') Peric
        th(scope='row') 3102/1342
      tr
        th(scope='row') 1
        th(scope='row') Lazar
        th(scope='row') Vasic
        th(scope='row') 2017/3011
      tr
        th(scope='row') 2
        th(scope='row') Pera
        th(scope='row') Peric
        th(scope='row') 3102/1342
      tr
        th(scope='row') 1
        th(scope='row') Lazar
        th(scope='row') Vasic
        th(scope='row') 2017/3011
      tr
        th(scope='row') 2
        th(scope='row') Pera
        th(scope='row') Peric
        th(scope='row') 3102/1342
      tr
        th(scope='row') 1
        th(scope='row') Lazar
        th(scope='row') Vasic
        th(scope='row') 2017/3011
      tr
        th(scope='row') 2
        th(scope='row') Pera
        th(scope='row') Peric
        th(scope='row') 3102/1342
      tr
        th(scope='row') 1
        th(scope='row') Lazar
        th(scope='row') Vasic
        th(scope='row') 2017/3011
      tr
        th(scope='row') 2
        th(scope='row') Pera
        th(scope='row') Peric
        th(scope='row') 3102/1342
